<h1>確認</h1>

 <h3>質問内容：<%= @question.body %></h3><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>

      <%= f.hidden_field :body %>
      <%= f.submit "質問する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>