/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: 70px;
  white-space: nowrap;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 70px;
  list-style: none;
  float: right;
}

.bg-dark {
  background-color: #343a40!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.form-inline {
  padding-left: 15px;
  text-align: left;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
  
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.aligin-items-center {
  align-items: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.text-aligin-left {
  text-align: left;
}



@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (min-width: 576px) {
  .mr-sm-2, .mx-sm-2 {
    
  }
}