/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
  background-color: #343a40;
  padding-bottom: 50px;
  margin-bottom: 20px;
  
  a {
    color: white;
  }
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  margin-block-start: 0em;
}

li {
  list-style: none;
}

main {
  width: 80%;
  margin: auto;
  height: 100%;
}

nav {
  width: 80%;
  margin: auto;
}

ul {
  padding-inline-start: 0px;
}

#title {
  float: left;
  margin-left: 1%;
  color: white;
}

a:hover {
  text-decoration: none;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

#nav-smartphone {
  display: none;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  line-height: 100px;
  list-style: none;
  float: left;
  width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.nav-second {
  margin-top: 20px;
  border-top: 1px solid white;
  height: 100%;
}

.search-field {
  display: inline-flex;
}

.nav-right {
  display: flex;
  position: absolute;
  right: 1%;
  padding-top: 20px;
}

.bg-dark {
  background-color: #343a40!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.form-inline {
  padding-left: 15px;
  text-align: left;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
  
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.nav-item {
  margin-right: 10px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.aligin-items-center {
  align-items: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.text-aligin-left {
  text-align: left;
}

.form-control {
  width: 20%;
  margin: 20px auto;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.link {
  color: white;
}



@media (max-width: 768px) {
  
  header {
    padding-bottom: 0;
  }
  
  #menu-logo {
    padding-top: 10px;
    text-align: right;
    cursor: pointer;
  }
  
  .menu {
    color: white;
    line-height: 5px;
    font-size: large;
  }
  
  .nav-second {
    border: 0;
  }
  
  .nav-right, .nav-left {
    display: none;
  }
  
  .nav-item {
    width: 99%;
  }
  
  .nav-slide {
    a {
      color: white;
    }
    
    .nav-item {
      margin-bottom: 20px;
    }
  }
  
}

@media (max-width: 576px) {
  .mr-sm-2, .mx-sm-2 {
    
  }
}