// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  display: flex;
}

.mypage-left {
  .profile-body {
    display: inline-block;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    width: 99.7%;
    .left {
      .profile-image {
        width: 100%;
        margin: 10% 0;
        border-radius: 50%;
      }
    }
    .right {
      text-align: left;
      .key-value {
        display: flex;
        .key {
          width: 30%;
        }
        .value {
          width: 70%;
        }
      }
    }
  }
}

.mypage-right {
  margin-bottom: 100px;
}

.ClapLv2MyProfile_Chie-MyProfile__Header__2URvS {
  height: 80px;
  border-radius: 4px 4px 0 0;
  background-image: url(https://s.yimg.jp/images/ks/clap/image/profile_background.svg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .mypage-left {
    .profile-body {
      .left {
        .profile-image {
          width: 70%;
          margin: 10% 0;
          border-radius: 50%;
        }
      }
      .right {
        text-align: left;
        .key-value {
          display: flex;
          .key {
            width: 30%;
          }
          .value {
            width: 70%;
          }
        }
      }
    }
  }
  
}
